<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itstep.fourapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ex_002_send_data_activity.HelloNameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ex_012_notification_example.SecondActivity" />
        <activity android:name=".ex_003_implicit_call_activity.SecondActivity">
            <intent-filter>
                <action android:name="SecondActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ex_006_activity_return_result.ChangeLanguageActivity" />
        <activity android:name=".ex_006_activity_return_result.PressNameActivity" />
        <activity android:name=".ex_002_send_data_activity.CheckContentActivity" />
        <activity android:name=".ex_005_toast_and_activity.UserActivity"/>
        <activity android:name=".ex_008_activity_lifecycle.SecondActivity" />
    </application>
</manifest>
